[user]
	name = Jonas Emilsson
	signingkey = 0x2C677E188CD83F8C
	email = jonas.emilsson@gmail.com
[color]
	ui = auto
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[submodule]
	recurse = true
