"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
  "exception-reporting":
    userId: "846f9223-808d-42b9-8ec2-bd61d0e75865"
