"*":
  "atom-beautify":
    python:
      default_beautifier: "yapf"
      formatter: "yapf"
  "autocomplete-python":
    pythonPaths: "python"
    useKite: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "846f9223-808d-42b9-8ec2-bd61d0e75865"
  "language-elm":
    autocompleteEnabled: false
  "linter-pylama":
    configFileLoad: "Use pylama config"
    isortOnSave: true
    useIsort: true
    usePep257: false
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
