packages: [
  "atom-beautify"
  "autocomplete-python"
  "busy-signal"
  "file-icons"
  "git-plus"
  "github-atom-light-syntax"
  "highlight-selected"
  "intentions"
  "linter"
  "linter-pylama"
  "linter-ui-default"
  "markdown-writer"
  "minimap"
  "minimap-cursorline"
  "minimap-find-and-replace"
  "minimap-highlight-selected"
  "minimap-selection"
  "nix"
  "package-sync"
]
